/* odin-recipes */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: darkgray;
    text-align: center;
}
h1 {
    font-size: 52px;
    color: rgb(40, 38, 38);
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img {
    width: 600px;
    height: auto;
    background-color: aquamarine;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: darkcyan;
}